<div>
    <div>Meetup card {{card.id}}</div>
    <br>
    <div>name: {{card.name}}</div>
    <div>subscribers:{{card.users.length}}</div>
    <div>time: {{card.time | date: 'd.MM.yy, HH:mm'}}</div>
    <br>
    <div>description: {{card.description}}</div>
    <br>
    <div>createdBy: {{card.owner.fio}}</div>
    <div>location: {{card.location}}</div>
    <br>
    <div *ngIf="isMore">
        <div>target_audience: {{card.target_audience}}</div>
        <div>need_to_know: {{card.need_to_know}}</div>
        <div>will_happen: {{card.will_happen}}</div>
        <div>duration: {{card.duration}}</div>
    </div>
    <button mat-raised-button *ngIf="!isOwnMeetup && !isSub" (click)="subscribeMeetup()">записаться</button>
    <button mat-raised-button *ngIf="!isOwnMeetup && isSub" (click)="unsubscribeMeetup()">отписаться</button>
    <a mat-raised-button 
    *ngIf="isOwnMeetup"
    routerLink="/editMeetup" routerLinkActive="active"
    >редактировать</a>
    <button mat-raised-button *ngIf="isOwnMeetup || isAdmin" (click)="delMeetup()">удалить</button>
    <button mat-raised-button *ngIf="!isMore" (click) = "isMoreToogle()">Подробнее</button>
    <button mat-raised-button *ngIf="isMore" (click) = "isMoreToogle()">кратко</button>
   

    <br>
    <br>
    <br>
</div>