<div class="search">
    <input [(ngModel)]="searchTerm1" placeholder="Search through pipe"/>
</div>
<br>
<div class="row">
    <app-meetup-card 
    *ngFor="let card of (meetups | filter:searchTerm1)"
    [card]="card"
    (addEventCard)="this.addEvent.emit($event)"
    (addEventUnsub)="this.addEventUnsub.emit($event)"
    (addEventDel)="this.addEventDel.emit($event)"
    ></app-meetup-card>

    <div class="notFound" *ngIf="(meetups | filter:searchTerm1).length < 1 && arrayMeetups.length > 0 ">
        Not Found
    </div>
    <div class="notFound" *ngIf="(this.arrayMeetups.length < 1) && (!this.isLoading)">
        нет митапов
    </div>
</div>