<div>
    <form [formGroup]="authReactiveForm" (ngSubmit)="onLogin()">
        <div>email</div>
        <input type="email" name="email" placeholder="example@example.com" formControlName="login" />
        <div>password</div>
        <input type="password" name="password" formControlName="password" />
        <br><br>
        <button mat-raised-button type="submit">Sign in</button>
    </form>
    <a routerLink="/howCreateAcc" routerLinkActive="active" ariaCurrentWhenActive="page">How to create account?</a>
</div>